/* 下面这些是常用的过渡动画效果*/

@-webkit-keyframes fadeInContents {
0% {opacity: 0;  padding:600px 0px 0px 0px;}
100% {opacity: 1; }
}
@-webkit-keyframes fadeInPoster {
0% {opacity: 0;  padding:100px 0px 0px 0px;}
100% {opacity: 1; }
}

body{
    font-weight: 900;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 120%;
    height: 120%;
    background-color: #EFEFEF;
    z-index: -1;
    position: absolute;
}
#nav{
margin:30px 30px 90% 90%;
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FCCCCC;
}
.hide{
    display:none;
}
.show{
    display:block;
}
#sidebar{
     font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    float:left;
    width:120px;
    height:100%;
    float: left;
    z-index: 1;
    position: relative;
    color:#666666;
    background: linear-gradient(to right,#444444,#222222);
    border-left: 1px solid #000000;
    opacity: 0.8;
}
#sidebar .menu{
 word-break:keep-all;
    position: relative;
    height:35px;
    width:100%;
    border-radius: 0 5px 5px 0;
    color:#CCCCCC;
    transition:0.5s;
    margin: 5 5 5 5px;
    padding: 15 8 0 10px;
    z-index:-10;
    
}
#sidebar .menu:hover{
    cursor:pointer;
    color:#FFFFFF;
    transition:0.5s;
    background: #444444;
    box-shadow: 1px 1px 1px #333333;
}
#poster{
     font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    color:white;
    float:left;
    transition: 1s;
    height:100%;
    width: 1em;
    overflow: hidden;
    position: relative;
    font-size:10em;
    padding:0 0 0 0;
    margin: 0 0 0 -30px;
    line-height: 1.0em;
    z-index: 0;
    color:#FFFFFF;
}
#poster p{
    padding: 0;
    margin:0;
}
#post-w{
    height:100%;
}
#poster> .show{
-webkit-animation-name: fadeInPoster; /*动画名称*/
-webkit-animation-duration: 1s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/
    text-shadow: 1.5px 1.5px 3px #cccccc;
}
#poster> .hide{
    transition:0.5s;
    display: none;
    width:0;
    height:0;
}
#post-xmjl{
    float:inherit;
    position:relative;
    margin:0 0 0 0;
    padding:0 0 0 0;
    height: 80%;  
    width: 90%;
}
#content {
    position:relative;
}

#content .show{
-webkit-animation-name: fadeInContents; /*动画名称*/
-webkit-animation-duration: 2s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/
}
#canvas {
    position:absolute;
}
#round{
    margin:0 70 0 70px;
    width:46px;
    height:46px;
    border-radius: 23px;
    border: 1px solid #CCCCCC;
    position:relative;
    display: inline-block; 
    transition: 0.5s;
    background-image: url(../img/github.png);
    overflow:hidden;
    opacity: 0.3;
}
.indexicon{
    width:46px;
    height:46px;
}
#round:hover{
    transition: 0.5s;
    opacity: 1.0;
    background-color: #CCCCCC;
    box-shadow:0px 0px 8px #BBB;
}
#listleft{
    margin:95 30 30 30px;    
    position: relative;
    float: left;
    height:90%;
    width:30%;
    border:1px solid #EEEEEE;
}
#container{
    height: 700px;
    width:  1200px;
    padding: 0 0 50 200px;
}
#card{
    margin: 10px;
    float:left;
    height:200px;
    transition: 0.5s;
    
    opacity: 0.9;
    border:1px dotted #CCCCCC;
    width:300px;
    padding:0;
}

#card img{
    float: left;
    height:90px;
    width:120px;
    margin:10px;
    text-align: center;
}
#down {
    text-align: left;
    float: left;
    height:70px;
    width:280px;
    margin:10px;
    border: 0px solid #CCC;
}
#left {
    font-size: 14px;    
    width: 138px;
    height:90px;
    margin:10px;
    padding:10px;
    float: left;
    border:0px solid #CCC;
}
#jybj-container{
    text-align: center;
    width:600px;
    height:200px;
    border: 1px solid #CCC;
    margin:200px 20% 20% 20%;
        padding: 20 100px 20px 100px;
}
#ljgd-container{
    text-align: left;
    width:600px;
    height:200px;
    border: 1px solid #CCC;
    margin:200px 20% 20% 20%;
        padding: 20 100px 20px 20px;
}
#card:hover{
    transition:0.5s;
    background: #EEEEEE;
    opacity: 1.0;
    box-shadow:0px 0px 8px #BBB;
}
#tag{
    transition:0.5s;
    margin:20px;
    padding:15px;
    width:auto;
    height:150px;
    overflow: hidden;
    opacity: 0.9;
    
    border: 1px solid #EEEEEE;
}
#tag:hover{
    transition:0.5s;
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #999999;
}
#tagright{
    padding:0 0 0 10px;
       overflow: hidden;
    width:auto;
    height:100px;
}

#tagup{
    padding: 5px 0 0 5px;
    font-weight: 900;
      font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
     word-break:keep-all;
    overflow: hidden;
    font-size:2em;
    color:#444444;
}
#tagdown{
    padding: 5px;
    font-weight: 100;
     word-break:keep-all;
       overflow: hidden;
    line-height: 2em;
    font-size: 0.8em;
    color:#999999;
}
.img{
    overflow: hidden;
    width:92px;
    height:92px;
    float:left;
    border: 1px solid #CCCCCC;
    border-radius: 46px;
    transition:0.5s;
    background:#F6F6F6;
}
#group{
    position:absolute;
    margin:100px 100px 100px 53.5%;

}


.img:hover{
    transition:0.5s;
    background:#FCFCFC;
        box-shadow:0px 0px 8px #BBB;
}
.img> img{
    width: 92px;
    height:92px;
}
#firstline{
    position:absolute;
    margin:0 100px 100px 55%;
    width:0.01px;
    height:1000px;
    border:1px solid #CCC;
}
#wrapper{
    margin:100 100 100 500px;
    width:246px;
    height:auto;
}
#wrapper p{
    padding:0.5em;
    margin:0.5em;
    color:#666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    text-align: center;
}
#logo{
    margin:10 0 10 0px;
    width:244px;
    height:244px;
    border:1px solid #CCCCCC;
    border-radius: 122px;
    transition:0.5s;
    background: #F3F3F3;
    opacity: 0.9;
    
}
#switch{
    margin:300 50 10 10px;
    padding:2px 7px 2px 7px;
    height:25px;
    width:100px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #222222;
    transition:0.5s;
}

#switch:hover{
    transition:0.5s;
    background-color: #000;
}
#linebottom{
    height:200px;
    width:auto;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-top-left-radius: 30px;
    margin:0 0 0 150px;
    
}
#logo:hover{
    transition:0.5s;
    background:#FFFFFF;
    box-shadow:0px 0px 8px #BBB;
    opacity: 1.0;
}
#listright{
    margin:95 30 30 30px;
    height:90%;
     position: relative;
    width:30%;
    float: left;
    border:1px solid #EEEEEE;
}

